.header
  %h3 アプリ一覧
.content
  = link_to "ストップウォッチ", stopwatch_index_path, class: 'list'
  = link_to "おみくじ", fortune_index_path, class: 'list'
  = link_to "三択クイズ", quiz_index_path, class: 'list'
  = link_to "SlidShow", slideshow_index_path, class: "list"
  = link_to "slotアプリ", slot_index_path, class: "list"
  = link_to "タイピング", type_index_path, class: "list"
  = link_to "タイプナンバー", number_index_path, class: "list"
